.projects {
  margin: 20px;
}

.projects h1, .projects h2 {
  text-align: center;
}

.project {
  /* margin-top: 20px;
  margin-bottom: 40px; */
  margin: 20px auto;
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
  max-width: 1000px;
}

.project .title-image img {
  width: 250px;
}

.project .project-first-row {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.project .project-first-row div {
  margin: 10px 15px;
}

.project .project-media-image {
  width: 400px;
  height: 250px;
  object-fit: contain;
}

.github-logo {
  position: relative;
  width: 25px;
}

.project-second-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-right: 20px;
  margin-left: 20px;
  width: 400px;
}

.project-second-row .bulletpoints {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
